--positive_examples
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_fb237_v1/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_fb237_v2/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_fb237_v3/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_fb237_v4/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_nell_v1/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_nell_v2/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_nell_v3/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_nell_v4/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_WN18RR_v1/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_WN18RR_v2/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_WN18RR_v3/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_WN18RR_v4/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_both-1000/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_both-3000/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_both-5000/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_head-1000/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_head-3000/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_head-5000/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_tail-1000/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_tail-3000/validation/valid_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_tail-5000/validation/valid_facts.txt
--negative_examples
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_fb237_v1/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_fb237_v2/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_fb237_v3/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_fb237_v4/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_nell_v1/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_nell_v2/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_nell_v3/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_nell_v4/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_WN18RR_v1/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_WN18RR_v2/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_WN18RR_v3/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_WN18RR_v4/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_both-1000/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_both-3000/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_both-5000/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_head-1000/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_head-3000/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_head-5000/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_tail-1000/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_tail-3000/validation/valid_negative_examples.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_tail-5000/validation/valid_negative_examples.txt
--output
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_fb237_v1/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_fb237_v2/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_fb237_v3/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_fb237_v4/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_nell_v1/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_nell_v2/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_nell_v3/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_nell_v4/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_WN18RR_v1/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_WN18RR_v2/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_WN18RR_v3/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/GraIL-BM_WN18RR_v4/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_both-1000/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_both-3000/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_both-5000/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_head-1000/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_head-3000/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_head-5000/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_tail-1000/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_tail-3000/validation/all_facts.txt
/Users/davala/Documents/Experiments/aurora_data/Hamaguchi-BM_tail-5000/validation/all_facts.txt
