ROOT=/Users/davala/Documents/Experiments/aurora_data
GraIL-BM_fb237_v1/test/test.txt
GraIL-BM_fb237_v1/test/beta_split/test_facts.txt
GraIL-BM_fb237_v2/test/test.txt
GraIL-BM_fb237_v2/test/beta_split/test_facts.txt
GraIL-BM_fb237_v3/test/test.txt
GraIL-BM_fb237_v3/test/beta_split/test_facts.txt
GraIL-BM_fb237_v4/test/test.txt
GraIL-BM_fb237_v4/test/beta_split/test_facts.txt
GraIL-BM_nell_v1/test/test.txt
GraIL-BM_nell_v1/test/beta_split/test_facts.txt
GraIL-BM_nell_v2/test/test.txt
GraIL-BM_nell_v2/test/beta_split/test_facts.txt
GraIL-BM_nell_v3/test/test.txt
GraIL-BM_nell_v3/test/beta_split/test_facts.txt
GraIL-BM_nell_v4/test/test.txt
GraIL-BM_nell_v4/test/beta_split/test_facts.txt
GraIL-BM_WN18RR_v1/test/test.txt
GraIL-BM_WN18RR_v1/test/beta_split/test_facts.txt
GraIL-BM_WN18RR_v2/test/test.txt
GraIL-BM_WN18RR_v2/test/beta_split/test_facts.txt
GraIL-BM_WN18RR_v3/test/test.txt
GraIL-BM_WN18RR_v3/test/beta_split/test_facts.txt
GraIL-BM_WN18RR_v4/test/test.txt
GraIL-BM_WN18RR_v4/test/beta_split/test_facts.txt
Hamaguchi-BM_both-1000/test/test.txt
Hamaguchi-BM_both-1000/test/beta_split/test_facts.txt
Hamaguchi-BM_both-3000/test/test.txt
Hamaguchi-BM_both-3000/test/beta_split/test_facts.txt
Hamaguchi-BM_both-5000/test/test.txt
Hamaguchi-BM_both-5000/test/beta_split/test_facts.txt
Hamaguchi-BM_head-1000/test/test.txt
Hamaguchi-BM_head-1000/test/beta_split/test_facts.txt
Hamaguchi-BM_head-3000/test/test.txt
Hamaguchi-BM_head-3000/test/beta_split/test_facts.txt
Hamaguchi-BM_head-5000/test/test.txt
Hamaguchi-BM_head-5000/test/beta_split/test_facts.txt
Hamaguchi-BM_tail-1000/test/test.txt
Hamaguchi-BM_tail-1000/test/beta_split/test_facts.txt
Hamaguchi-BM_tail-3000/test/test.txt
Hamaguchi-BM_tail-3000/test/beta_split/test_facts.txt
Hamaguchi-BM_tail-5000/test/test.txt
Hamaguchi-BM_tail-5000/test/beta_split/test_facts.txt
